*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    font-size: 62.5%;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

:root {
    --Dial-Size : 46rem;
    --minute-needle-height : 21rem;
    --minute-needle-width : 3.3rem;
    --hours-needle-height : 16rem;
    --hours-needle-width : 6rem;
}

.container{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 3rem;
}


.clock-dial{
    position: relative;
    width: var(--Dial-Size);
    height: var(--Dial-Size);
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;   
    background: white;
}

#circle1{
    height: 50rem;
    width: 50rem;
    background-color: #ddd;
    border-radius: 50%;
    box-shadow: 1rem 1rem 1rem -0.5rem #aaa;
}

#circle2{
    height: 48rem;
    width: 48rem;
    border-radius: 50%;
    background: #eee;
    background-size: 100% 100%;    
}

#Dial-img{
    width: 101%;
    height: 101%;
    z-index: 100;
}

#minute-needle{
    height: var(--minute-needle-height);
    width: var(--minute-needle-width);    
    background: url("./assets//Long\ Needle.png");
    background-size: 100% 100%;
    z-index: 110;
    position: absolute;
    top: 22rem;
    left: 21.5rem;
    transform-origin: 50% 1.35rem;
}


#hours-needle{
    height: var(--hours-needle-height);
    width: var(--hours-needle-width);    
    background: url("./assets/Short\ needle.png");
    background-size: 100% 100%;
    z-index: 100;
    position: absolute;
    top: 21.8rem;
    left: 20rem;
    transform-origin: 50% 1.5rem;
}


#Gear1{
    z-index: 5;
    position: absolute;
    top: 14.4rem;
    left: 14rem;
    height: 18rem;
    width: 18rem;
    background: url("./assets//Gear11.png");
    background-size: 100% 100%;
    opacity: 80%;
}


#Gear2{
    z-index: 2;
    position: absolute;
    top: 26.2rem;
    left: 25.1rem;
    height: 21rem;
    width: 21rem;
    background: url("./assets//Gear11.png");
    background-size: 100% 100%;    
}

#Gear3{
    z-index: 1;
    position: absolute;
    top: 7rem;
    left: 7em;
    height: 32rem;
    width: 32rem;
    background: url("./assets//Gear3.png");
    background-size: 100% 100%;
    animation: Rotation 12s infinite linear;
    opacity: 80%;
}

.Digital{
    position: relative;
    height: 8rem;
    width: 46rem;
    margin: 1rem 0;
}

.Box{
    height: 6.5rem;
    background-color: #ddd;
    width: 5.5rem;
    margin: 0 0.7rem;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 1rem -0.5rem #999;
}

.heading{
    font-size: 2.4rem;
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para{
    font-size: 3.5rem;
    color: #888;
}



@keyframes Rotation {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}


@media only screen and (max-width:500px){
    html{
        font-size: 0.45rem;
    }
}


@media only screen and (max-width:500px){
    html{
        font-size: 0.36rem;
    }
}